body {
    font-family: "Poppins", sans-serif;
    background-color: #dcdfe0;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 0px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  #rcorners1 {
    border-radius: 35px;
    background: #6d58f5;
    padding: 20px; 
    width: 100%;
    height: 200px;  
  }
  
  /*FILTER DROPDOWN*/
  .dropbtn {
    background-color: white;
    padding: 6px;
    font-size: 16px;
    font-family: 'Poppins'
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 35px;
     bottom: 30px;
  
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #dcdfe0;
  }
  
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    font-family: 'Poppins'
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  #myInput:focus {outline: 3px solid #ddd;}
  
  .dropdown {
    position: relative;
    top: 100px;
    right: 50px;
    left: 50px;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Poppins'
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  
  p{
    position: absolute;
    font-family: 'Poppins';font-size: 22px;
    color: white;
    text-align: center;
    left: 100px;
    top: 20px;
  }
  
  
  
  .container {
    width: 60%;
    position: relative;
    top: 50px;
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    padding: 16px;
    margin: 16px;
    height: 80px;
    right: 300px;
    left: 100px;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
    color: black;
  }
  
  .container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    border-color: #ffb900;
    border-left-style:inset;
  }
  
  .container span {
    position: relative;
  
    font-size: 30px;
    margin-right: 15px;
    width: 50%;
    font-family: 'Poppins';
    color: black;
    border-right-style:inset;
    border-width: 2px;
    border-color: #d4d0c1;
    padding-right: 6px;
  
  }
  
  .button {
   background-color: black; 
    border: none;
    border-radius: 50%;
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /*argin: 4px 2px;*/
    cursor: pointer;
    right: 20px;
    width: 45px;
    height: 30px;
  }
  
  .reminder{
    width: 27%;
    position: absolute;
    top: 100px;
    right: 30px;
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    right: 20px;
    height: 100%;
  }
  .h1{
    position: relative;
    
    margin-left: 30px;
    left: 30px;
  }